[
  {
    "name": "Example demo.c",
    "files": [ "demo.c", "ugui.c" ],
    "compilation_cmd": "-I ."
  },
  {
    "name": "Example demo.c 2",
    "files": [ "demo.c", "ugui.c" ],
    "compilation_cmd": "-I .",
    "main": "main2"
  },
  {
    "name": "Example demo.c 3",
    "files": [ "demo.c", "ugui.c" ],
    "compilation_cmd": "-I .",
    "main": "main3"
  }
]

